<ion-content>
<ion-grid style="margin-top: 5em;">
  <ion-row>
    <ion-col size="12">
      <ion-button style="width: 100%" size="large" (click)="onButtonClick($event)">
        {{title}}
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <video class="video-full" style="background-color: black" #videoElement></video>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-button style="width: 100%;" (click)="onButtonClick($event)" size="large">
        GO!
      </ion-button>
    </ion-col>
  </ion-row>
  
</ion-grid>

</ion-content>