<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dare Time!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Large Title</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong class="capitalize">Dare Time!</strong>
    <p> Click on the LEFT hand menu to get started</p>
  </div>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let entry of leaderBoardData | keyvalue">
          <td>{{ entry.key }}</td>
          <td>{{ entry.value }}</td>
        </tr>
      </tbody>
    </table>
</ion-content>
