<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dare Time!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="header">
      <ion-col> <h2>Click on the LEFT hand menu to get started</h2></ion-col>
    </ion-row>
    <ion-row class="header">
      <ion-col><h1>Leaderboard</h1></ion-col>
    </ion-row>
    <ion-row class="header">
      <ion-col>Name</ion-col>
      <ion-col>Score</ion-col>
    </ion-row>
    <ion-row *ngFor="let entry of leaderBoardData | keyvalue: sortByValueDescending">
      <ion-col>{{ entry.key }}</ion-col>
      <ion-col>{{ entry.value }}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
